src/Resources/WSDL/wsCL1WSUSERINFOEX-ConConsultaCurusConnect.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:tns="https://itg.santander.cl/AppGenericosGeneral2/WSDL/wsCL1WSUSERINFOEX-CONCurusConnect" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://www.tibco.com/schemas/AppGenericosGeneral2/Resources/Schemas/UserInfoEX.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="https://itg.santander.cl/AppGenericosGeneral2/WSDL/wsCL1WSUSERINFOEX-CONCurusConnect">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/AppGenericosGeneral2/Resources/Schemas/UserInfoEX.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/AppGenericosGeneral2/Resources/Schemas/UserInfoEX.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="INPUT">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:channel"/>
                        <xs:element ref="ns0:ipAdress"/>
                        <xs:element ref="ns0:repositoryId"/>
                        <xs:element ref="ns0:userId"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="channel" type="xs:string"/>
            <xs:element name="ipAdress" type="xs:string"/>
            <xs:element name="repositoryId" type="xs:string"/>
            <xs:element name="userId" type="xs:string"/>
            <xs:element name="userInfoExResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element ref="ns0:userId"/>
                                    <xs:element name="group" type="xs:string"/>
                                    <xs:element name="fullName" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="faceRecognition" nillable="true" type="xs:boolean" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="maxActivatedTokensAllowed" type="xs:string" minOccurs="0"/>
                        <xs:element name="maxTokensAllowed" type="xs:string" minOccurs="0"/>
                        <xs:element name="tokenAmount" type="xs:string" minOccurs="0"/>
                        <xs:element name="activatedTokenAmount" type="xs:string" minOccurs="0"/>
                        <xs:element name="lockoutInfo" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="failureCount" type="xs:string" minOccurs="0"/>
                                    <xs:element name="lockoutDate" nillable="true" type="xs:string" minOccurs="0"/>
                                    <xs:element name="authenticatorLockouts" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="failureCount" type="xs:string" minOccurs="0"/>
                                                <xs:element name="lockoutDate" type="xs:string" minOccurs="0"/>
                                                <xs:element name="challengeType" type="xs:string"/>
                                                <xs:element name="subName" type="xs:string"/>
                                                <xs:element ref="ns0:repositoryId" minOccurs="0"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="challengeList" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="challenges" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element ref="ns0:userId" minOccurs="0"/>
                                                <xs:element name="group" type="xs:string" minOccurs="0"/>
                                                <xs:element ref="ns0:repositoryId" minOccurs="0"/>
                                                <xs:element name="serialNumber" type="xs:string" minOccurs="0"/>
                                                <xs:element name="nameSet" type="xs:string" minOccurs="0"/>
                                                <xs:element name="state" type="xs:string" minOccurs="0"/>
                                                <xs:element name="challengeTypes" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="lastAuth" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="date" type="xs:string" minOccurs="0"/>
                                    <xs:element name="type" type="xs:string" minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="lastFailedAuth" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="date" type="xs:string" minOccurs="0"/>
                                    <xs:element name="type" type="xs:string" minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="responseStatus" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="code" type="xs:string" minOccurs="0"/>
                                    <xs:element name="description" type="xs:string" minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="wsCL1WSUSERINFOEX-ConConsultaCurusConnect">
        <wsdl:port name="wsCL1WSUSERINFOEX-ConConsultaCurusConnect" binding="tns:wsCL1WSUSERINFOEX-ConConsultaCurusConnectBinding">
            <soap:address location="https://localhost:14840/Services/AppGenericosGeneral2/wsCL1WSUSERINFOEX-CONCurusConnect"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="portType">
        <wsdl:operation name="getConsultaCurusConnect">
            <wsdl:input message="tns:INPUT"/>
            <wsdl:output message="tns:userInfoExResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="wsCL1WSUSERINFOEX-ConConsultaCurusConnectBinding" type="tns:portType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getConsultaCurusConnect">
            <soap:operation style="document" soapAction="getConsultaCurusConnect"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="INPUT">
        <wsdl:part name="parameters" element="ns0:INPUT"/>
    </wsdl:message>
    <wsdl:message name="userInfoExResponse">
        <wsdl:part name="parameters" element="ns0:userInfoExResponse"/>
    </wsdl:message>
</wsdl:definitions>